@import '../../../src/variables';
.transaction-item {
  background-color: $color-primary;
  color: $color-light;
  padding: 10px;
  border-bottom: 1px solid $color-medium;
  border-radius: 4px;
  margin-bottom: 10px;
}

.transaction-item.compra {
  background-color: rgba($color-secondary, 0.2);
}

.transaction-item.venta {
  background-color: rgba($color-accent, 0.2);
}

button {
  background-color: $color-accent;
  color: $color-primary-dark;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button:hover {
  background-color: $color-secondary;
}
