.compra {
    background-color: rgba(255, 0, 0, 0.1); /* Rojo suave */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .venta {
    background-color: rgba(0, 255, 0, 0.1); /* Verde suave */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .div {
    font-size: 16px;
  }
  