<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/logo_2.png" alt="Logo">
    </a>
  </div>

  <div class="navbar-center">
    <input type="text" class="search-input" placeholder="Buscar...">
  </div>

  <div class="navbar-end">
    <a class="navbar-item" routerLink="/notificaciones">
      <i class="fas fa-bell"></i>
    </a>
    <a class="navbar-item" routerLink="/cuenta">
      <i class="fas fa-user"></i>
    </a>
  </div>
</nav>
