.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6e918e;
  padding: 0.5rem 1rem;
  color: white;
  flex-wrap: wrap; // Permite que los elementos se envuelvan si es necesario

  .navbar-brand img {
    height: 60px;
  }

  .navbar-center .search-input {
    width: 300px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
  }

  .navbar-end .navbar-item {
    color: white;
    margin-left: 1rem;
    font-size: 1.5rem;

    &:hover {
      color: #ffdd57;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem; // Reduce padding para ajustar mejor los elementos
  }

  .navbar-brand, .navbar-center, .navbar-end {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-center .search-input {
    width: 100%;
    max-width: 150px; // Ajusta el tamaño del input para dispositivos móviles
    margin: 0 0.5rem;
  }

  .navbar-end .navbar-item {
    margin: 0 0.5rem; // Añade márgenes laterales para separar los iconos
    font-size: 1.2rem; // Reduce el tamaño de los iconos para móviles
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-center .search-input {
    width: 200px;
  }
}
