@import '../../../variables';
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-primary-dark, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: $color-primary;
  color: $color-light;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  overflow-y: auto;
  max-height: 80vh;
}

.filters {
  background-color: $color-primary-dark;
  padding: 10px;
  border-radius: 8px;
}

.filters .form-control {
  background-color: $color-medium;
  color: $color-light;
  border: none;
  margin-bottom: 10px;
}

.transaction-item {
  background-color: $color-primary;
  color: $color-light;
  padding: 10px;
  border-bottom: 1px solid $color-medium;
  border-radius: 4px;
  margin-bottom: 10px;
}

.transaction-item.compra {
  background-color: rgba($color-secondary, 1);
}

.transaction-item.venta {
  background-color: rgba($color-accent, 0.2);
}

.close-button {
  background: none;
  border: none;
  color: $color-light;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
